* {
	font-family: montserrat;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	appearance: none;
	font-size: 14px;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	justify-content: center;  
	align-items: center;
}
h3 {
	font-size: 16px;
}
:root {
  --black: #121315;
  --gray: #b4b4b4;
  --white: #ffffff;
  --main: #F4BF00;
  --submain: #FBE599;

  --sh1: 2px 2px 4px var(--gray);
}
header {
	display: flex;
	width: 100%;
	justify-content: center;
	border-bottom: solid 1px var(--gray);
}
footer {
	display: flex;
	width: 100%;
	justify-content: center;
	border-top: solid 1px var(--gray);
	flex: 0 0 auto;
}
.menu {
	display: flex;
	width: 1440px;
	height: 60px;
	align-items: center;
	justify-content: center;
}
.submenu {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
.menu__menu-logo {
	text-align: center;
	align-items: center;
	justify-content: space-around;
	width: 240px;
	height: 60px;
	display: flex;
}
.menu__buttons {
	height: 100%;
    display: flex;
}
.menu__buttons__button {
	width: 120px;
	height: 100%;
	background: none;
	border: none;
	transition: 0.2s;
}
.menu__buttons__button:hover {
	background: var(--submain);
	cursor: pointer; 
	transition: 0.2s;
}
.menu__search {
	display: flex;
	height: 100%;
	outline: 1px solid var(--gray);
	flex-grow: 1;
}
.menu__search input {
	height: 100%;
	border: none;
	padding: 16px;
	flex-grow: 1;
}
.menu__search input:focus {
	outline: none;
}
.menu__search__button {
	width: 120px;
	height: 100%;
	background: none;
	border: none;
	transition: 0.2s;
}
.menu__search p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.menu__search__button:hover {
	background: var(--submain);
	cursor: pointer; 
	transition: 0.2s;
}
.menu__menu-logo--copyright {
    border-left: 1px solid var(--gray);
    text-align: left;
	padding-left: 12px;
}

.content {
	width: 1440px;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 170px);
}
.content__cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.content__cards__card {
	width: 240px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 24px 16px;
    border-bottom: 1px solid var(--gray);
}
.content__cards__card:hover {
    outline: 1px solid var(--gray);
	cursor: pointer;
	color: var(--main);
}
.content__cards__card:active {
	color: var(--black);
	background-color: var(--submain);
}
.content__cards__card:hover h3{
    color: var(--black);
}
.content__cards__card__img {
	height: 196px;
	width: 100%;
	object-fit: cover;
}
.content__cards__card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@media (max-width: 1439.98px) {
    .menu {
    	width: 1200px;
    }
    .content {
    	width: 1200px;
    }
}
@media (max-width: 1198.98px) {
    .menu {
    	width: 720px;
    }
    .content {
    	width: 720px;
    }
    .menu__buttons__button, .menu__search__button, .menu__search__button{
	    width: 60px;
	    height: 60px;
    }
    .menu__search {
    	width: 240px;
    }
    .menu__search input {
    	width: 120px;
    }
    .menu__buttons__button p {
	    display: none;
    }
    footer .menu {
    	flex-direction: column;
    	height: auto;
    }
    .menu__menu-logo--copyright {
    	width: 100%;
    	text-align: center;
    	border: none;
    	border-top: solid 1px var(--gray);
    }
}
@media (max-width: 719.98px) {
	header .menu {
    	flex-direction: column;
    	height: 180px;
    	width: 343px;
	}
	.content {
		width: 343px;
	}
    footer .menu {
    	width: 343px;
    }
    .submenu {
    	flex-direction: column;
    	height: auto;
    	width: 343px;
    }
    .menu__buttons__button {
	    width: 25%;
    }
    .menu__buttons {
    	width: 100%;
    	height: 60px;
    }
    .menu__search {
    	width: 343px;
    	height: 60px;
    }
    .menu__menu-logo {
    	width: 100%;
    	height: 60px;
    }
    .content__cards__card {
    	width: 171px;
    	row-gap: 8px;
    	padding: 8px 8px;
    	border: none;
    }
    .content__cards__card__img {
    	height: 150px;
    }
    body {
    	row-gap: 16px;
    }
}